PORT=5001
NODE_ENV=production

DB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_USER=4Pxipd4YQBZCUvB.root
DB_PASSWORD=83FJ0hQatHbkZwUy
DB_NAME=transport_db
DB_SSL=true

JWT_SECRET=SriMuruganRigSecretKey2026!@#$%
FRONTEND_URL=https://srimuruganrigservice.netlify.app

# Bunny.net Storage & CDN Configuration
BUNNY_STORAGE_ZONE=sri-murugan
BUNNY_ACCESS_KEY=0984f4e7-b569-4049-9feebcb36383-5311-4052
BUNNY_STORAGE_ENDPOINT=https://sg.storage.bunnycdn.com
BUNNY_PULL_ZONE_URL=https://sri-murugan.b-cdn.net
